<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sanuk/IdeaProjects/Automation_APIWithRestAssured/src/test/java/com/testing/CRUD_Test/Token_Test.java">
        <classes>
            <class name="com.testing.CRUD_Test.Token_Test">
                <methods><include name="authentication_check"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>